spring:
  - rabbitmq:
    host: localhost
    port: 5672
    username: ale
    password: ale
 
    h2:
     console:
       path: /h2-console

    datasource:
      url: jdbc:h2:mem:testdb
      username: sa
      password: ""

    jpa:
    - show-sql: true
    - properties:
      hibernate:
        format_sql: true

    - hibernate:
      ddl-auto: create


jsa:
  rabbitmq:
    queue: jsa.queue
    

 